.form_basics {
    .row {
        .clear_after();
        display: block;
        + .row {
            margin-top: @distance_small;
        }
        &_label {
            float: left;
            min-height: 1em;
            width: 30%;
            line-height: 20px;
            padding: 5px 0;
        }
        &_input {
            float: right;
            width: calc(~"70% - @{distance_small}");
        }
        &_submit {
            margin-top: @distance_small;
            border-top: 1px solid #CCC;
            padding-top: @distance_small;
        }
        //
        input:not(.button), select, textarea {
            .h(30px);
            border: 1px solid #CCC;
            background-color: #F6F6F6;
            color: #333;
            border-radius: 3px;
            padding: 0 @distance_small;
            display: block;
            width: 100%;
            outline: none;
            &:hover {
                background-color: #FFF;
            }
            &:focus {
                background-color: #FFF;
                color: #000;
            }
        }
        select[multiple] {
            height: auto;
            padding: 0;
            option {
                .h(2em);
                padding: 0.5em;
            }
        }
        &.error {
            input, select, textarea {
                background-color: rgba(200, 0, 0, 0.1);
                border-color: rgba(200, 0, 0, 0.2);
            }
        }
    }
    .form_response {
        display: none;
        font-weight: 700;
        padding: @distance_small;
        border-radius: 3px;
        margin-top: @distance_small;
        line-height: 1.2em;
        font-size: 0.75em;
        &.success, &.error, &.fail {
            display: block;
        }
        &.success {
            background-color: rgba(0, 200, 0, 0.1);
            color: rgba(0, 200, 0, 0.75);
        }
        &.error, &.fail {
            background-color: rgba(200, 0, 0, 0.1);
            color: rgba(200, 0, 0, 0.75);
        }
    }
}
.form_customer {

}
