<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <!-- <a class="navbar-brand" href="http://www.theringclub.yin-fit.de">
        <img src="images/logo-navbar.png" alt="The Ring" width="90" />
    </a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="http://www.theringclub.yin-fit.de">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://www.theringclub.yin-fit.de/stundenplan.html">Stundenplan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://www.theringclub.yin-fit.de/studio.html">Studio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://www.theringclub.yin-fit.de/preise.html">Preise</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://www.theringclub.yin-fit.de/probetraining.html">Probetraining</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://www.theringclub.yin-fit.de/kontakt.html">Kontakt</a>
            </li>
        </ul>
    </div>
</nav>